/* 
http://colorschemedesigner.com/#3-31TsOsOK-K-
Primary Color:
2626A1		343464		04044C		7979E7		AEAEE7
Secondary Color A:
E6D317		8F883F		6D6303		F9EC6D		F9F2B0
Secondary Color B:
E68D17		8F6D3F		6D4003		F9BD6D		F9D9B0
*/
body { 
  margin: 0px;
  padding: 0px;
  background: #8f8f8f;
  font-family: sans-serif;
}

div.head {
  background: #0404CC none repeat scroll 0 0;
  color:  #FFF;
  line-height: 1.3em;
  font-family: sans-serif;
  font-size: 125%;
  font-weight: bold;
  margin: 0;
  padding: 0 0 1pt 0.5em;
  width: 100%;
}

div.subhead { 
  background: #7979E7  none repeat scroll 0 0;
  border-bottom:0 none;
  color:#FFF;
  font-size:90%;
/*   font-variant:small-caps; */
/*   font-weight:bold;  */
  height:1.3em;
  line-height:1.5em;
  padding:0 0 1pt 0.5em;
  width:100%;
}

div.content { 
  background: #fff;
  margin-top: 1em;
  padding: 1em 0em 1em 0em;
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
  padding-left: 1em;
}


h1 { 
  font-size: 150%;
  padding-left: 1em;
  margin-top: 0em;
}

h2 { 
  font-size: 125%;
  padding-left: 1em;
}

table.mainform { 
  background: #eee;
  margin-left: 0em;
  border: 1px solid black;
  border-collapse: collapse;
}

table.mainform td {
  vertical-align: top;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid black; 
}

table.subform td { 
  padding-left: 0em;  
  margin-left: 0em;
  border: none;
}

table.subform {
  background: #eee;
  width: 100%;
  margin: 0px;
  padding-left: 1em;
/*  border-left: 1px solid #555;
  border-bottom: 1px solid #555;  */

}

div.indent {
  padding-left: 1em;
}

table.wikitable {
  border-collapse: collapse;
  border: 1px solid #aaa;
  background: #eee;
}

table.wikitable tr.list-odd { background: #fff; }
table.wikitable tr.list-even { background: #ffd; }

table.wikitable a { text-decoration:none; }

table.wikitable td {
  border: 1px solid #aaa;
  padding-left: 3pt;
}

table.wikitable th { 
  background: #fff;
}

#poweredbyicon {
  border: 0 none;
  float: right;
  font-size: smaller;
  margin-left: 5px;
  margin-right: 0.3em;
  margin-top: 0.3em;
  position: relative;
  text-align: right;
}

div.navbox {
  border: 1px solid #aaaaaa;
  background-color: #F9F2B0;
  background-position: 0 0;
  margin: 0 0 0.5em 0;
  padding: 0px;
  text-align:center;
  width:100%;
  font-size: 100%;
  line-height: 1.5em;
}

td.note { 
  font-size: 90%;
}

table.space { 
  border: none;
}


td.toprow {
  padding-bottom: .5em !important;
  padding-top: .25em !important;
}

td.bottomrow { 
   border-top: 1px solid black;
   padding-top: .5em !important; 
}

table.outer {
  border-collapse: collapse;
  margin-left: 1em;
}

table.outer td { 
  margin: 0px;
  padding:0px;
  vertical-align: top;
}

table.mainform td { 
  padding-left: 0.5em !important;
}

input.submitButton { 
  font-weight: bold;
}

div.footer { 
  padding: 1pt 2pt 1pt 0.5em;
  margin: 0 0 0 0;
  background: #eee;
  display: table;
  border: 1px solid black;
  border-top: none;
}


.progress_cell {
	background: #D3D3D3 none repeat scroll 0 0;
	border: 1px solid gray;
	height: 16px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100px;
}

.progress_bar {
	background: #A0A0FF none repeat scroll 0 0;
	border: 0 none;
	height: 100%;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
}

.progress_text {
	border: 0 none;
	font-size: 14px;
	height: 100%;
	left: 0;
	line-height: 1em;
	margin: -0.5em 0 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100px;
}

div.subhead a { 
  color: white;  
  text-decoration: none;
}

div.subhead span.selectedtool a{
  color: yellow;
  font-weight: bold;
}

img { 
  border: none;
}

td.score { 
  text-align: right;
}

div.loginform { 
  margin-left: 0.5em;
}

div.auth { 
  border: 1px solid black;
  padding: 0em; 
  width: 3in;

  position: relative;
  top: 0px;
  left: -1px;

  margin: 1em;
  border-bottom: 2px solid black;
}


div.auth h2 { 
  background: #7979E7  none repeat scroll 0 0;
  color: white;
  margin: 0px; 
  font-size: 14px;  
  margin-bottom: 2px; 
}

div.loginform form { 
  clear: none; 
  margin: 0px; 
  padding: 0px;
}

div.clear { clear: both; }

div.authline { 
  width: 2.5in;
  float: right; 
  border: 1px solid black;
  padding: 0.5em;
}


span.notauthenticatederror { 
  font-size: 125%;
  color: red;
}
